<ion-header>
</ion-header>
<ion-content class="body-bg">
 <div class="brand">Banquet</div>

 <div class="restiction" class="one">
    <ion-row no-padding no-margin >
        <ion-col class="lean-padding" no-margin>
            <ion-card class="restiction-card" no-margin>
                <ion-item class="condition">
                    <ion-icon name="star" item-left class="icon border"></ion-icon>
                    <span class="text">Minimum 3 people</span>
                </ion-item>
                <ion-item class="info">
                    <ion-icon name="star" item-left class="icon border"></ion-icon>
                     <span class="text">{{ 37 | currency:'AUD':true}}&nbsp;Per Person</span>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
 </div>

 <div class="data">
    <ion-row no-padding no-margin  *ngFor="let key of getKeys()">
    <ion-col class="lean-padding" no-margin>
    <ion-card class="one-card" no-margin>
        <div class="heading">
            {{key}}
        </div>
        <div class="detail">
            <ion-list no-margin no-padding>
                <ion-item *ngFor="let item of getItems(key)">
                    {{item}}
                </ion-item>
            </ion-list>
        </div>
    </ion-card>
    </ion-col>
    </ion-row>
 </div>
     <ion-fab center bottom>
        <button ion-fab outline class="fab-close" (tap)="dismiss({})"><ion-icon name="close"></ion-icon></button>
    </ion-fab>
</ion-content>