menu-view.ion-page {
    .action-btns {
        line-height: 30px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: white;
    }

    .content {
        padding-bottom: 45px;
    }
    .items-section {
        padding-bottom: 30px;
        ion-card {
            border-left: 3px solid #00796b;
        }
    }

    .lean-padding {
        padding: 5px;
    }

    ion-card {
        min-width: 100%;
    }

    .menu-card {

        .badge-i {
            font-size: 10px;
        }

        .heading {
            font-size: 16px;
            font-weight: bold;
            color: $dark-color;
        }

        .description {
            padding-left: 5px;
            color: $dark-color;
            font-weight: bold;
            font-size: 12px;
        }

        .opaque {
            opacity: 0.7;
        }

        .color-spice{
            color: #e82e44;
        }
    }   

    .ios-add {
        font-weight: bold;
    }
}
