page-locate.ion-page {

    .section-heading {
        background-color: #f5f5f5;
        font-size: 12px;
        font-weight: bold;
        color: $dark-color;
        text-align: center;
    }

    .brand {
        padding-top: 0px;
        color: #ffffff;
        background-color: $light-color;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    ion-card {
        border-left: 3px solid #00796b;
    }

    .review-card {
        .review-item {
            border-bottom: 1px solid #00796b;
        }
    }

    .warning-no-news {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        color: red;
        text-align: center;
    }

    .action-btn {
        padding-right: 5px;
        padding-left: 5px;
    }

    hr { 
        background-color: $dark-color; 
        height: 0.7px; 
        border: 0; 
    }

    ion-card {
        min-width: 100%;
    }
    .address-card{
        .name {
            font-size: 18px;
            font-weight: bold;
        }
        .address {
            font-size: 10px;
            color: $dark-color;
        }

        .icon-i {
            padding-top: 10px;
            text-align: center;
            font-size: 2em;
            border-right: 1px solid #00796b;
        }
    }

    .left-padding {
        padding-left: 20px;
    }

    .follow {
        .logos {
            padding: 5px;
        }
        .border {
            border-right: 1px solid #00796b;
        }
    }

    .phone-card {
        .name {
            line-height: 34px;
            font-size: 18px;
            font-weight: bold;
            color: $dark-color;
        }
        .icon-i {
            text-align: center;
            font-size: 1.6em;
            border-right: 1px solid #00796b;
        }
    }
    font-family: proxima-nova,'Helvetica Neue',HelveticaNeue,Helvetica,Arial,"Lucida Grande",sans-serif;
}