<ion-header>
</ion-header>
<ion-content class="body-bg">
 <div class="brand">Take Away Menu</div>
     <div class="restiction">
        <ion-row no-padding no-margin >
            <ion-col class="lean-padding" no-margin>
                <ion-card class="restiction-card" no-margin>
                    <ion-item class="condition">
                        <ion-icon name="star" item-left class="icon border"></ion-icon>
                        <span class="text">Not Valid for delivery</span>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
    <div class="data">
        <ion-row no-padding no-margin *ngFor="let section of sections">
            <ion-col class="lean-padding" no-margin>
                <ion-card class="cat-card" no-margin>
                    <div class="heading">
                        {{section.category}}
                    </div>
                    <ion-list no-margin no-padding>
                        <ion-item *ngFor="let item of section.items">
                            <span item-left class="name">
                                {{item.name}}
                            </span>
                            <span item-right class="price">
                                {{item.price | currency:'AUD':true}}
                            </span>
                        </ion-item>
                    </ion-list>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>
     <ion-fab center bottom>
        <button ion-fab outline class="fab-close" (tap)="dismiss({})"><ion-icon name="close"></ion-icon></button>
    </ion-fab>
</ion-content>