user-home.ion-page {
    .content {
        .punjaabs {
            margin-left: 25%;
            margin-right: 25%;
            padding-top: 20px;
            max-width: 50%;
            -webkit-filter: invert(80%);
        }

        text-align: center;
        padding-bottom: 45px;
        .profile-icon {
            font-size: 8em;
        }
    }

    .action-btn {
        padding-top: 10px;
        padding-left: 30%;
        padding-right: 30%;
        text-align: left;

        .text {
            padding-left: 10px;
        }

        .icon {
            border-right: 2px solid #cfd8dc;
            padding-right: 10px;
        }

        .lo {
            text-align: left;
            background-color: #e53935;
        }
    }

    ion-card {
        min-width: 100%;
    }

    .lean-padding {
        padding: 5px;
    }

    .cards {
        .icon-col {
            text-align: center;
            font-size: 2em;
        }

        .text {
            font-size: 20px;
            height: 50px;
            line-height: 50px;
            text-align: left;
            padding-left: 30px;
            font-weight: bold;
            vertical-align: auto;
        }
    }

    .edit-ic {
        border-right: 2px solid #ffccbc;
    }
    .reward-ic {
        border-right: 2px solid #b2dfdb;
    }
    .promo-ic {
        border-right: 2px solid #f8bbd0;
    }
    .message-ic {
        border-right: 2px solid #b2ebf2;
    }

    .edit-card {
        border-left: 3px solid #bf360c;
        color: #bf360c
    }
    .reward-card {
        border-left: 3px solid #00796b;
        color: #00796b
    }
    .promo-card {
        border-left: 3px solid #ad1457;
        color: #ad1457
    }
    .message-card {
        border-left: 3px solid #00838f;
        color: #00838f
    }
}