page-menu.ion-page {
    .menu-item-header-text{
        color: white;
        font-weight: bold;
    }

    .description {
        color: $light-color;
        font-weight: bold;
        font-size: 12px;
    }

    .meta {
        font-size: 10px;
        font-weight: bold;
        .items-summary {
            text-align: left;
            color: #00796b;
            font-weight: bold;
        }
        .range {
            padding-left: 60px;
            text-align: right;
            font-weight: bold;
            color: #750b26;
            font-style: italic;
        }
    }

    .meta-sp {
        font-size: 12px;
        font-weight: bold;
        color: #750b26;
        font-style: italic;
    }
    

    .menu-header {
        position: fixed;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        background-color: $light-color;
    }

    .content {
        padding-top: 30px;
    }
    
    .brand {
        padding-top: 0px;
        color: #ffffff;
        background-color: $light-color;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        position: fixed;
        min-width: 100%;
    }
    .menu-cat-card {
        min-width: 100%;
        border-left: 3px solid #00796b;
    }

    .cat {
        font-size: 22px;
        font-weight: bold;
        color: $dark-color;
        .item-count {
            padding-left: 5px;
        }
    }

    .heading {
        line-height: 30px;
        text-align: center;
        font-size: 18px;
        color: white;
    }

    hr { 
        background-color: $light-color; 
        height: 2px; 
        width: 95%;
        border: 0; 
    }

    .list-header-ios {
        font-weight: bold;
    }

    .special-cat {
        color: $dark-color;
        font-size: 22px;
        font-weight: bold;
    }

    .special-cat-card {
        min-width: 100%;
        border-left: 3px solid #750b26;
    }

    .foot {
        position: absolute; bottom: 0px;
    }

    #locationHelp {
        text-align: left;
    }

    .item-complex .item-content, .item{
        border-bottom:1px solid #369;
    }

    text-align: center;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}