page-menu.ion-page {
    .menu-item-header-text{
        color: white;
        font-weight: bold;
    }

    #desctext {
        color: white;
    }

    .menu-header {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        background-color: $light-color;
    }

    .cat {
        font-size: 22px;
        font-weight: bold;
        color: $dark-color;
        
        .item-count {
            padding-left: 5px;
        }
    }

    .list-header-ios {
        font-weight: bold;
    }

    .special-cat {
        color: $dark-color;
        font-size: 22px;
        font-weight: bold;
    }

    .invalid {
        border: 1px solid #ea6153;
    }
    .foot {
        position: absolute; bottom: 0px;
    }

    #locationHelp {
        text-align: left;
    }

    .item-complex .item-content, .item{
        border-bottom:1px solid #369;
    }

    text-align: center;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}