<ion-header>
</ion-header>
<ion-content class="body-bg">
  <div class="brand">Menu</div>
  <div class="content">
    <ion-row no-padding no-margin *ngFor="let category of menuCategories" (tap)="openMenu(category.name)">
      <ion-col class="lean-padding" no-margin>
        <ion-card no-margin class="card-bg menu-cat-card" >
          <ion-row>
            <ion-col width-20>
              <ion-icon name="ios-barcode" style="padding-right: 3px; font-size: 3em;" item-left *ngIf="category.name != 'Drinks'"></ion-icon>
            </ion-col>
            <ion-col width-70 class="left">
              <ion-row class="cat">{{category.name}}</ion-row>
              <ion-row class="description">{{category.desc}}</ion-row>
              <div class="meta">
                <span class="left items-summary">{{category.count}}&nbsp;Items</span>
                <span class="right range">{{category.minRange | currency:'AUD': true}}&nbsp;-&nbsp;{{category.maxRange | currency:'AUD': true}}</span>
              </div>
            </ion-col>
            <ion-col width-10><ion-icon name="ios-arrow-forward" style="padding-right: 5px; font-size: 3em;" item-right></ion-icon></ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row no-padding no-margin *ngFor="let category of specialCategories" (tap)="openSpecialMenu(category)">
      <ion-col class="lean-padding" no-margin>
        <ion-card no-margin class="card-bg special-cat-card" >
        <ion-row>
          <ion-col width-20>
            <ion-icon name="ios-beer" style="padding-right: 3px; font-size: 3em;" item-left *ngIf="category.name == 'Drinks Menu'"></ion-icon>
            <ion-icon name="ios-people" style="padding-right: 3px; font-size: 3em;" item-left *ngIf="category.name == 'Banquet'"></ion-icon>
            <ion-icon name="ios-basket" style="padding-right: 3px; font-size: 3em;" item-left *ngIf="category.name == 'Take Away'"></ion-icon>
            <ion-icon name="ios-happy" style="padding-right: 3px; font-size: 3em;" item-left *ngIf="category.name == 'Food Facts'"></ion-icon>
          </ion-col>
          <ion-col width-70 class="left">
            <ion-row class="cat">{{category.name}}</ion-row>
            <ion-row class="description">{{category.description}}</ion-row>
            <ion-row class="meta-sp">{{category.restriction}}</ion-row>
          </ion-col>
          <ion-col width-10><ion-icon name="ios-arrow-forward" style="padding-right: 3px; font-size: 3em;" class="left" item-right></ion-icon></ion-col>
        </ion-row>
      </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
